[Desktop Entry]
Name=Keeper
Comment=Play this game on Steam
Exec=steam steam://rungameid/3043580
Icon=steam_icon_3043580
Terminal=false
Type=Application
Categories=Game;
